<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Add Category</h1>
            <button class="btn btn-dark">Go Back</button>
        </div>

        <form class="col-md-6 offset-md-3" [formGroup]="addCategoryForm" (ngSubmit)="handleAddCategory()">
            <div class="form-group row mb-3">
                <label class="col-sm-2 col-form-label">Category Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"
                        [ngClass]="{ 'is-invalid': addCategoryForm.get('categoryName')?.touched && addCategoryForm.get('categoryName')?.invalid }"
                        placeholder="Enter Category Name" formControlName="categoryName" />
                    <div class="invalid-feedback">
                        <div>Category Name is required</div>
                    </div>
                </div>
            </div>


            <div class="form-group row mb-3">
                <label class="col-sm-2 col-form-label">Category Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Category Description"
                        formControlName="categoryDescription"
                        [ngClass]="{ 'is-invalid': addCategoryForm.get('categoryDescription')?.touched && addCategoryForm.get('categoryDescription')?.invalid }" />
                    <div class="invalid-feedback">
                        <div>Category Description is required</div>
                    </div>
                </div>
            </div>


            <div class="form-group row mb-3">
                <label class="col-sm-2 col-form-label">Category Status</label>
                <div class="col-sm-10">
                    <select formControlName="categoryStatus"
                        class="form-select form-select-lg shadow-none bg-light border-0">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-2 col-form-label">Category Position</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Category Position "
                        formControlName="categoryPosition"
                        [ngClass]="{ 'is-invalid': addCategoryForm.get('categoryPosition')?.touched && addCategoryForm.get('categoryPosition')?.invalid }" />
                    <div class="invalid-feedback">
                        <div>Category Position is required</div>
                    </div>
                </div>
            </div>

            <div class="alert alert-success" *ngIf="isSaved">
                Saved Successfully
            </div>

            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary" [disabled]="addCategoryForm.invalid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>